.btn-bd-primary{font-weight: 600;color: #fff;background-color: #5cb85c;border-color: #5cb85c;}
.btn-bd-primary:hover,.btn-bd-primary:active{color:#fff;background-color:#5cb85c ;border-color:#5cb85c;}
.btn-bd-primary:focus{box-shadow: 0 0 0 3px rgba(121,82,179,0,25)}